<div class="card-container">
    <div class="new-post-card">
        <form id="new-post-form">
            <label for="new-post-title">Title</label> <br>
            <input type="text" id="new-post-title"> <br>

            <label for="new-post-body">Body</label> <br>
            <textarea id="new-post-body"></textarea> <br>

            <div class="btn-container">
                <button type="submit" class="submit-btn">Post</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/newPost.js"></script>